:root{
    --text-color: #d6d6d6;
    --background-color:#333333;
    --accent-color:red;
}
body{
    margin:0;
    font-family: 'Source Sans Pro';
    background-color: #F5F5F7;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.help{
    font-size: 12px;
    margin: 3px auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}
.navbar_logo{
    font-size: 20px;
    color:var(--text-color);
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li:hover{
    transition: 0.3s;
    transform: color(white);
    transform: scale(1.05);
}
.navbar_menu li{
    padding:8px 45px;
    transition: 0.3s;
}
.navbar_icons{
    list-style: none;
    color: var(--text-color);
    display:flex;
    padding-left: 0;
}
.navbar_icons li{
    padding: 8px 8px;
}

.navbar_toggle{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: var(--text-color);
}
.navbar_toggle_off{
    color:var(--text-color);
    position: absolute;
    right: 32px;
    font-size: 24px;
    display: none;
}

/*------------------------------------------------------*/

.home{
    display: block;
    align-items: center;
}
.ipad{
    text-align: center;
}
.ipad img{
    width: 900px;
}
.ipad a h1{
    font-size: 50px;
    color: black;
    font-weight: 600;
    margin-top: 33px;
}
.p1{
    margin-top: 6px;
    line-height: 1.1;
    font-size: 40px;
    font-weight: 400;
    color: var(--background-color);
    margin-top: 10px;
    margin-bottom: 30px;
}
.p2{
    margin-top: 12px;
    line-height: 1.1;
    font-size: 15px;
    font-weight: 600;
    color: #86868b;
}
.buy{
    background-color: #0071E3;
    border-radius: 18px;
    color: #F5F5F7;
    width: 85.7px;
    height: 36px;
    border-style: none;
    font-weight: 900;
    position: relative;
    margin-top: 30px;
    font-size: 13px;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
}
.buy:hover{
    transform: scale(0.95);
    background-color: rgba(0, 113, 227, 0.9);
}

/*------------------------------------------------------*/

@media screen and (max-width:1000px){
    .ipad img{
        width: 750px;
    }
}

/*------------------------------------------------------*/

@media screen and (max-width:880px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding:15px 20px;
    }

    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggle{
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }
    .navbar_toggle.active{
        display: none;
    }
    .navbar_toggle_off.active{
        display:block;
    }
    .ipad img{
        width: 700px;
    }
}

/*------------------------------------------------------*/

@media screen and (max-width: 750px){
    .ipad img{
        width: 650px;
    }
}

@media screen and (max-width: 670px){
    .ipad img{
        width: 500px;
    }
}

@media screen and (max-width: 500px){
    .ipad img{
        width: 350px;
    }
    .buy{
        width: 59.9px;
        height: 28.2px;
        font-size: 9px;
        margin-top: 20px;
        margin-bottom: -10px;
    }
    .p1{
        font-size: 30px;
        margin-top: 2px;
        margin-bottom: 20px;
    }
    .p2{
        font-size: 13px;
        margin-top: 0px;
    }
}