:root{
    --text-color: #d6d6d6;
    --background-color:#333333;
    --accent-color:red;
}
body{
    margin:0;
    font-family: 'Source Sans Pro';
    background-color: #F5F5F7;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.help{
    font-size: 12px;
    margin: 3px auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}
.navbar_logo{
    font-size: 20px;
    color:var(--text-color);
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li:hover{
    transition: 0.3s;
    transform: color(white);
    transform: scale(1.05);
}
.navbar_menu li{
    padding:8px 45px;
    transition: 0.3s;
}
.navbar_icons{
    list-style: none;
    color: var(--text-color);
    display:flex;
    padding-left: 0;
}
.navbar_icons li{
    padding: 8px 8px;
}

.navbar_toggle{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: var(--text-color);
}
.navbar_toggle_off{
    color:var(--text-color);
    position: absolute;
    right: 32px;
    font-size: 24px;
    display: none;
}

/*------------------------------------------------------*/

.home{
    display: block;
    align-items: center;
}
.iphone{
    text-align: center;
}
.iphone img{
    width: 750px;
}
.ipad{
    text-align: center;
}
.ipad img{
    width: 900px;
}
.macbook{
    text-align: center;
}
.macbook img{
    width: 1050px;
}
.watch{
    text-align: center;
}
.watch img{
    width: 650px;
}
.home h1{
    color: var(--background-color);
    font-size: 18px;
    font-weight: 400;
    overflow: auto;
    margin-top: -50px;
    margin-bottom: 0px;
}
.watch h1{
    margin-top: 30px;
}
.watch img{
    margin-top: 100px;
}



/*------------------------------------------------------*/

@media screen and (max-width:1070px){
    .iphone img{
        width: 700px;
    }
    .ipad img{
        width: 750px;
    }
    .macbook img{
        width: 800px;
    }
    .watch img{
        width: 600px;
    }
    .home h1{
        color: var(--background-color);
        font-size: 18px;
        font-weight: 400;
        overflow: auto;
        margin-top: -50px;
        margin-bottom: -20px;
    }
    .watch h1{
        margin-top: 10px;
    }
    .watch img{
        margin-top: 60px;
    }
}

/*------------------------------------------------------*/

@media screen and (max-width:880px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding:15px 20px;
    }

    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggle{
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }
    .navbar_toggle.active{
        display: none;
    }
    .navbar_toggle_off.active{
        display:block;
    }
    .iphone img{
        width: 650px;
    }
    .ipad img{
        width: 700px;
    }
    .macbook img{
        width: 700px;
    }
    .watch img{
        width: 550px;
    }
    .home h1{
        color: var(--background-color);
        font-size: 18px;
        font-weight: 400;
        overflow: auto;
        margin-top: -50px;
        margin-bottom: -10px;
    }
    .watch h1{
        margin-top: 10px;
    }
    .watch img{
        margin-top: 50px;
    }
    .macbook h1{
        margin-top: -40px;
    }
}

/*------------------------------------------------------*/

@media screen and (max-width: 750px){
    .iphone img{
        width: 600px;
    }
    .ipad img{
        width: 650px;
    }
    .macbook img{
        width: 650px;
    }
    .watch img{
        width: 500px;
    }
    .home h1{
        color: var(--background-color);
        font-size: 18px;
        font-weight: 400;
        overflow: auto;
        margin-top: -50px;
        margin-bottom: 0px;
    }
    .watch h1{
        margin-top: 10px;
    }
    .watch img{
        margin-top: 40px;
    }
    .macbook h1{
        margin-top: -30px;
    }
}


@media screen and (max-width: 670px){
    .iphone img{
        width: 500px;
    }
    .ipad img{
        width: 500px;
    }
    .macbook img{
        width: 500px;
    }
    .watch img{
        width: 400px;
    }
    .home h1{
        color: var(--background-color);
        font-size: 18px;
        font-weight: 400;
        overflow: auto;
        margin-top: -40px;
        margin-bottom: 0px;
    }
    .watch h1{
        margin-top: 8px;
    }
    .watch img{
        margin-top: 30px;
    }
    .macbook h1{
        margin-top: -30px;
    }
}

@media screen and (max-width: 500px){
    .iphone img{
        width: 350px;
    }
    .ipad img{
        width: 350px;
    }
    .macbook img{
        width: 350px;
    }
    .watch img{
        width: 250px;
    }
    .home h1{
        color: var(--background-color);
        font-size: 15px;
        font-weight: 400;
        overflow: auto;
        margin-top: -20px;
    }
    .watch h1{
        margin-top: 7px;
    }
    
}